#btnTotal,#btnReciept,#exitb{
    -fx-background-color: rgb(59, 17, 98);
	-fx-border-style: solid inside; 
			-fx-border-width: 2; 
			-fx-border-insets: 5; 
			-fx-border-radius: 5;
			-fx-border-color: rgb(46, 217, 7);
            -fx-font-style: normal;
							 -fx-font-weight: bold;
							 -fx-color: rgb(13, 238, 51);
}

#cbProtein,#cbhealth,#cbPre{
    -fx-background-color: rgb(59, 197, 243);

}

#cbProtein:hover,#cbhealth:hover,#cbPre:hover{
    -fx-background-color: rgb(246, 127, 36);

}

#first,#second,#third{
    -fx-background-color: rgb(246, 36, 194);
}

#heading{
    -fx-font-size: 20px;
							 -fx-font-style: normal;
                             -fx-font-family: 'Times New Roman', Times, serif;
							 -fx-font-weight: bold;
							 -fx-background-color: black;
}